.home {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-window>h1 {
    margin: 0;
    padding-top: 5%;
}

form {
    padding-bottom: 5%;
}

input {
    margin-top: 5%;
}

.search-window {
    background-color: black;
    color: white;
    width: 40%;
    height: auto;
    border: solid 10px gray;
    text-align: center;
}

.button {
    background-color: #003999;
    font-family: 'Roboto', sans-serif;
    color: white;
    border: 0;
    height: 3vh;
    width: 40%;
}