.profile>h1 {
    margin: 0;
    padding-left: 10%;
    padding-top: 4%;
}

.profile > .informations {
    padding-left: 15%;
    padding-top: 5%;
}

.profile > .informations > h2{
    margin-right: 2rem;
}

.profile > form > div > button {
    margin-top: 3% !important;
    margin-left: 0 !important;
}
.profile > .personal-informations {
    display: flex;
    padding-top: 4%;
    margin-left: 5%;
    margin-bottom: 0;
    font-size: 3.5vw;
    font-weight: 600;
}

.profile > form {
    padding-bottom: 0;
}

